<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    <script type="text/javascript">
    WebFontConfig = { fontdeck: { id: '60754' } };

    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
    </script>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag  "bundle" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="wrapper">
      <header class="header">
        <div class="logo">
          <%= image_tag "logo.svg", class: "logo__image", alt: "The logo of Marc Thomas, front-end developer and digital designer" %>
        </div>
      </header>
      <%= yield %>
      <footer class="footer [ align-right ]">
        <div class="colophon">
          <% social_links.each do |link| %>
            <a href="<%= link[:url] %>" class="colophon__link">
              <%= image_tag "#{link[:name].downcase}.svg", width: link[:width], alt: "An icon for #{link[:name]}", class: "colophon__image" %>
              <span class="colophon__text"><%= link[:name] %></span>
            </a>
          <% end %>
        </div>
        <div class="ghost">
          <%= image_tag "jacques.svg", class: "ghost__jacques", alt: "Boo! Scary, huh?" %>
        </div>
      </footer>
    </div>    
    <div class="mask" aria-hidden="true">
      <div class="mask__upper"></div>
      <div class="mask__lower"></div>
    </div>
  </body>
</html>
