<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="<%= image_path "favicon-32.png" %>"> 
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %></title>
    <script type="text/javascript">
    WebFontConfig = { fontdeck: { id: '60754' } };

    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
    </script>
    <script>
      function isTouchDevice() {
        return (('ontouchstart' in window)
            || (navigator.MaxTouchPoints > 0)
            || (navigator.msMaxTouchPoints > 0));
      }
      if (isTouchDevice()) {
        document.documentElement.className += ' touch';
      } else {
        document.documentElement.className += ' no-touch';
      }
    </script>
    <%= stylesheet_link_tag "styles" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="wrapper">
      <header class="header">
        <div class="logo">
          <%= image_tag "logo.svg", class: "logo__image", alt: "The logo of Marc Thomas, front-end developer and digital designer" %>
        </div>
      </header>
      <%= yield %>
      <footer class="footer [ align-right ]">
        <div class="colophon">
          <% social_links.each do |link| %>
            <a href="<%= link[:url] %>" class="colophon__link">
              <%= image_tag "#{link[:name].downcase}.svg", width: link[:width], alt: "An icon for #{link[:name]}", class: "colophon__image" %>
              <span class="colophon__text"><%= link[:name] %></span>
            </a>
          <% end %>
        </div>
        <div class="ghost">
          <%= image_tag "jacques.svg", class: "ghost__jacques", alt: "Boo! Scary, huh?" %>
        </div>
      </footer>
    </div>    
    <div class="mask" aria-hidden="true">
      <div class="mask__upper"></div>
      <div class="mask__lower"></div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62353572-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
